/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: rgb(242,242,242);
  font-family: 'Roboto Condensed', sans-serif;

}

.header{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: rgb(51,51,51);
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  /* background-image: linear-gradient(rgb(51,51,51), rgb(40,40,40)); */
  color: white;
  font-size: 14px;
  z-index: 5;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  height: 100%;
  font-size: 20px;
  font-weight: 900;
  background-image: linear-gradient(rgb(250,100,30), red);

}

.nav-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100%;
  border-right: 1px solid black;
  text-align: center;

  color: rgb(200,200,200)
}

.nav-button-active{
  background-color: black;
  color: white;
}

.navbar{
  display: flex;
  width: 1000px;
  height: 100%;
}

.upload-button{
  margin: 0 10px;
  cursor: pointer;
}


.upload-button:hover{
  color: orangered;
}

.header-greeting-text{
  margin-right: 10px;
}

.header-greeting-text:hover{
  color: orangered;
}


.search-bar{
  position: relative;
  flex: 1;
  display: flex;
  /* width: auto; */
  flex-direction: column;
  justify-content: center;
}
.search-bar-list{
  position: absolute;
  top: 40px;
  background-color: black;
  width: 100%;
  z-index: 4;
}

.search-bar-list-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30px;
  width: 100%;
  padding: 0 3px;
  background-color: black;
  border: 1px solid gray;
  cursor: pointer;
}


.search-bar-list-item-main{
  background-color: rgb(65, 65, 65);
  border: 1px solid gray;
}

.search-bar-input-form{
  display: flex;
  background-color: gray;
  padding: 3px;
  border-radius: 3px;
  transition: background-color .2s;
  margin: 0 5px;
}
.search-bar-input{
  width: 100%;
}

.search-bar-input-form:focus{
  background-color: rgb(179, 179, 179);
}

.search-bar-submit{
  color: black;
  cursor: pointer;
}
.main{
  width: 1000px;
  margin: auto;
  margin-top: 50px;
  min-height: 500px;
}

.main-info-container{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 30px;  
  font-weight: 700;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

}

.nav-session-display{
  display: flex;
}

.nav-session-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.session-button{
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 3px;
}

.sign-up-button{
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  margin: 0 3px;
  padding: 2px 6px;
  background-color: rgb(250,100,30);
  border-color: rgb(250,100,30);
}

@keyframes fadeIn {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.9);
  }
}

.modal-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
  animation: 500ms ease-out 0s 1 forwards fadeIn;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-child{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 400px;
  width: 300px;
  padding: 30px;
  animation: 500ms ease-out 0s 1 slideInFromTop;
  border: 1px solid lightgray;
}

.modal-child div{
  box-shadow: none;
}

.input{

}



.user-profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
  overflow: hidden;
}

.user-profile-picture img{
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.user-profile-picture-comment{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.song-art-detail{
  width: 50px;
  height: 50px;
}

.song-art-index{
  width: 50px;
  height: 50px;
}

.audio-player-outer-container{
  position: relative;
  background-image: linear-gradient( rgb(80, 135, 255), rgb(121, 183, 199));
  height: 100px;
  width: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.audio-player-play-button{
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 72, 0);
  border-radius: 50%;
  margin: 5px;
}


.play-button:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 12px;
  top: 10px;
  border-top: 10px solid transparent;
  border-left: 20px solid white;
  border-bottom: 10px solid transparent;
}

.pause-button:after{
  position: absolute;
  left: 12.5px;
  top: 10px;
  content: "";
  border-style: double;
  width: 0;
  height: 20px;
  border-width: 0px 15px 0px 0px;
  border-color: white;
}

.audio-player-container{
  cursor: pointer;
}

.time-display{
  position: absolute;
  bottom: 0px;
  z-index: 3;
  color: orangered;
  font-size: 10pt;
  padding: 2px;
  background-color: black;
}

.song-button{
  text-align: center;
  border: 1px solid gray;
  margin: 1px;
  padding: 2px 0;
  border-radius: 2px;
  width: 60px;
  margin-right: 5px;
  font-size: 12px;
  color: black;
}

.song-play-count{
  text-align: center;
  border: 1px solid gray;
  margin: 1px;
  padding: 2px 0;
  border-radius: 2px;
  width: 60px;
  margin-right: 5px;
  font-size: 12px;
  color: black;
}

.song-button:hover{
  border-color: orangered;
}

.song-button-favorited{
  color: orangered;
  border-color: orangered;
}

.fas{
  margin-right: 3px;
}

/* spinner */

.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-clip-rotate {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-clip-rotate.la-dark {
    color: #333;
}
.la-ball-clip-rotate > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate > div {
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-bottom-color: transparent;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate .75s linear infinite;
       -moz-animation: ball-clip-rotate .75s linear infinite;
         -o-animation: ball-clip-rotate .75s linear infinite;
            animation: ball-clip-rotate .75s linear infinite;
}
.la-ball-clip-rotate.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}
.la-ball-clip-rotate.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}
.la-ball-clip-rotate.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate.la-3x > div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}

.loading-spinner {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate {
    0% {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
             transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate {
    0% {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
           transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/* <div class="la-ball-clip-rotate la-dark">
  <div></div>
</div> */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

div{
  animation: fadein .3s;
}

.user-index-item{
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.user-index-item-username-follow{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.user-index-item-username{
  font-size: 20px;
}

.song-index-item{
  display: flex;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
.song-index-username-title{
  display: flex;
  flex-direction: column;
}
.song-index-item-info-player-controls{
  display: flex;
  flex-direction:column;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  overflow: hidden;
}

.song-index-username{
  font-size: 14px;
  color: gray;
}
.song-index-title{
  font-size: 24px;
}

.song-index-item-art-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  width: 160px;
  margin-right: 10px;
  overflow: hidden;
}

.song-index-item-art{
  display: block;
  width: 100%;
  height: auto;
}

.song-index-item-controls {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 12px;
  margin-top: 3px;
}

.library-nav-bar{
  display: flex;
  border-bottom: 2px solid black;
}

.library-nav-button{
  font-size: 30px;
  margin: 0 10px;
}

.library-nav-button-active{
  color: orangered;
}

.library-nav-button:hover{
  color: orangered;
}

.change-profile-picture-button{
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}

.change-profile-picture-button:hover{
  border: 1px solid orangered;
  color: orangered;
}

.change-profile-picture-button input{
  display: none;
}

.user-profile-picture-username-follow{
  display: flex;
}

.user-profile-username-follow{
  display: flex;
  flex-direction: column;
}

.user-profile-username{
  font-size: 30px;
  font-weight: 700;
}

.follow-button{
  padding: 3px;
  width: 70px;
  text-align: center;
  border: 3px solid black;
  border-radius: 2px;
  border-color: orangered;
  background-color: orangered;
}

.follow-button:hover{
  border-color: red;
}


.session-form-outer-container{
  display: flex;
  justify-content: center; 
  align-items: center;    
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  padding: 30px;
  height: 300px;
}

.session-form{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.session-form-title{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.session-form input{
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.session-form-errors{
  font-size:18px;
  margin-bottom: 10px;
}

.session-form-errors li{
  margin-bottom: 5px;
}

.session-form-button{
  padding: 3px 10px;
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
  text-align: center;
}

.session-form-button:hover{
  background-color: rgb(255, 118, 68);
}

.session-form-button:active{
  background-color: rgb(219, 72, 18);
}

.song-form-outer-container{
  display: flex;
  justify-content: center; 
  align-items: center;    
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  padding: 30px;
  font-size: 24px;
}

.song-form{
  display: flex;
  flex-direction: column;
}

.song-form-title{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.song-form-item{
  margin-bottom: 10px;
}

.song-form select{
  font-size: 20px;
  cursor: pointer;
}

.song-form-upload-button{
  background-color: white;
  border: 1px solid black;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 10px;
}

.song-form-upload-button input{
  display: none;
  cursor: pointer;
}

.song-form-upload-button:hover{
  border: 1px solid orangered;
  color: orangered;
}

.song-form-submit{
  padding: 3px 10px;
  background-color: orangered;
  border-radius: 5px;
  cursor: pointer;
}

.song-form-submit:hover{
  background-color: red;
}

.song-form-errors{
  font-size:18px;
  margin-bottom: 10px;
}

.song-form-errors li{
  margin-bottom: 5px;
}

.comment{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  margin-bottom: 10px;
}

.comment-picture-username-body{
  display: flex;

}

.comment-username-body{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-username{
  display: flex;
  justify-content: space-between;
  color: gray;
}

.comment-username-link{
  margin-right: 3px; 
}

.comment-username-link:hover{
  color: orangered;
}

.comment-picture{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
}


.comment-picture img{
  object-fit: cover;
  min-width: 100%;
  min-height: 100%
}

.comment-form{
  display: flex;
  margin-bottom: 10px;
}

.comment-form input{
  width: 130px;
}

.comment-form-submit{
  cursor: pointer;
  color: black;
  background-color: rgb(211, 241, 255);
  border-radius: 3px;
  padding: 0 2px;
}

.comment-form-submit:hover{
  background-color: rgb(146, 221, 255);
}

.nested-comments{
  margin-left: 20px;
}

.comments-index-text{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px
}