/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
  background-color: rgb(242,242,242);
  font-family: 'Roboto', sans-serif;
}

.header{
  position: static;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  background-color: rgb(51,51,51);
  /* background-image: linear-gradient(rgb(51,51,51), rgb(40,40,40)); */
  color: white;
  font-size: 14px;
}

.logo{
  width: 70px;
  height: 100%;
  background-image: linear-gradient(rgb(250,100,30), red);

}

.nav-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 100%;
  border-right: 1px solid black;
  text-align: center;

  color: rgb(200,200,200)
}

.nav-button-active{
  background-color: black;
  color: white;
}

.navbar{
  display: flex;
  width: 1150px;
  height: 100%
}

.main{
  width: 1150px;
  background-color:white;
  margin: auto;
}

.nav-session-display{
  display: flex;
}

.nav-session-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.session-button{
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  padding: 2px 6px;
  margin: 0 3px;
}

.sign-up-button{
  border: 1px solid rgb(200,200,200);
  border-radius: 3px;
  margin: 0 3px;
  padding: 2px 6px;
  background-color: rgb(250,100,30);
  border-color: rgb(250,100,30);
}

@keyframes fadeIn {
  0% {
    background-color: rgba(255, 255, 255, 0)
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3)
  }
}

.session-form-modal{
  float: top;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 500ms ease-out 0s 1 forwards fadeIn;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}

.session-form{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 500px;
  width: 400px;
  animation: 500ms ease-out 0s 1 slideInFromTop;
}

.input{

}

.nested-comments{
  padding-left: 20px;
}

.user-profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile-picture-comment{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.song-art-detail{
  width: 50px;
  height: 50px;
}

.song-art-index{
  width: 50px;
  height: 50px;
}

.audio-player-outer-container{
  position: relative;
  background-image: linear-gradient( rgb(80, 135, 255), rgb(121, 183, 199));
  height: 100px;
  width: 700px;
  overflow: hidden;
}

.audio-player-play-button{
  position: absolute;
  z-index: 4;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 72, 0);
  border-radius: 50%;
  margin: 5px;
}


.play-button:after{
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  left: 12px;
  top: 10px;
  border-top: 10px solid transparent;
  border-left: 20px solid white;
  border-bottom: 10px solid transparent;
}

.pause-button:after{
  position: absolute;
  left: 12.5px;
  top: 10px;
  content: "";
  border-style: double;
  width: 0;
  height: 20px;
  border-width: 0px 15px 0px 0px;
  border-color: white;
}

.audio-player-container{
  cursor: pointer;
}

.time-display{
  position: absolute;
  bottom: 0px;
  z-index: 3;
  color: orangered;
  font-size: 10pt;
  padding: 2px;
  background-color: black;
}